p{
    text-align: left;
    font-size: medium;
    font-weight: 300;
}
.card-height{
    height: 450px;
    border: 1px double whitesmoke;


}
.shop-height{
    height: 350px;
    border: 1px double whitesmoke;
}
.border{
     border: 3px double whitesmoke;
}