p{
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}
.card-height{
    height: 425px;
    width: 250px;
    margin-left: 80px;
    border: 1px double whitesmoke;


}
.shop-height{
    height: 400px;
    width: 250px;
    margin-left: 80px;
    border: 1px double whitesmoke;

}
/* .card-pos{
    position: relative;
   padding-left: 120px; 
} */
.game-height{
    margin-left: 80px;
    border: 1px double whitesmoke;
    height: 300px;
    width: 250px;
}
#img-height{
    height: 150px;
}
