.avatar-position{
    width: 160px;
    right: 10px;
    position: absolute;
    display: flexbox;
    z-index: 8;
    top:65px;
    font-weight: bolder;
    color: black;
    background-color: white;
}
