@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1175px;
	margin-left: 90px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: black;
    padding: 70px 0;
}
.footer-col{
   width: 390px;
   padding: 0 15px;
}
.footer-col h3{
	font-size: 22px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h3::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: whitesmoke;
	height: 1px;
	box-sizing: border-box;
	width: 250px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #8fce00;
	text-decoration: none;
	font-weight: 300;
	color: #8fce00;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #8fce00;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.followus{
	position: relative;
	left: 1100px;
	display: flex;
	
}
#pad-ic{
	padding-left: 20px;
	color: #24262b;
}
.sub-footer{
	position: relative;
	left: 200px;
	background-color: #ffffff;
}
#copy{
	font-weight: 100;
	font-size: x-small;
}

#us{
	font-family: monospace;
	position: relative;
     left: 1100px;
}